@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.row {
    width: 50%;
}
a {
    text-decoration: none;
    color: black;
}
span {
    color: crimson;
    font-weight: 400;
    text-transform: capitalize;
}
h2 {
    font-size: 30px;
    line-height: 35px;
    margin: 20px 0;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.top {
    margin-top: 80px;
}
img {
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
}

/* HOME  */
.home {
    display: flex;
    position: relative;
}
.left-content,
.right-content {
    width: 50%;
}
.content {
    padding: 30px;
    position: relative;
}
  
.left-content {
    height: 100vh;
    position: fixed;
    top: 0;
    overflow: hidden;
    color: whitesmoke;
}
.home-img img {
    position: absolute;
    top: 0;
    left: -30%;
    bottom: 0;
    height: 100vh !important;
    z-index: -1;
  }
.logo {
    width: 70px;
    height: 70px;
    line-height: 70px;
    color: #000;
    background-color: #fff;
    text-align: center;
    font-size: 30px;
}
.left-content .text {
    width: 45%;
    margin-top: 10%;
}
.left-content .text h1 {
    font-size: 48px;
    line-height: 50px;
    font-weight: 500;
}
.left-content .text p {
    margin: 20px 0 5px 0;
}
.left-content .text span {
    color: crimson;
    font-size: 15px;
}

.left-content .text2 {
    float: right;
    text-align: right;
}
.qrcode{
    margin-top: 30%;
}


.right-content {
    padding: 40px;
    color: #000;
    /* quan trong la phai absolute */
    position: absolute;
    right: 0;
}
.img {
    overflow: hidden;
    transition: 0.5s;
}
.img img {
    transition: 0.5s;
}
.img img:hover {
    transform: scale(1.07);
    cursor: pointer;
}

.CardTwo.slide .box:nth-child(even) {
    flex-direction: row-reverse;
}
.CardTwo.slide .img {
    padding: 10px;

}
.CardTwo.slide .img img:hover {
    transform: none;
  }
@import url('./components/Slide/slide.css');
@import url('./components/Blog/card.css');
@import url('./components/Footer/footer.css');